{{ define "main" }} {{/* {{ $dateMachine := .Date | time.Format
"2006-01-02T15:04:05-07:00" }} {{ $dateHuman := .Date | time.Format ":date_long"
}} */}} {{/* <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time> */}}
<article class="mx-auto relative max-w-[90ch] border-2 border-avo-600 rounded-lg bg-stone-50 p-3 sm:p-6 mt-27 sm:mt-30">
	{{/*  https://stackoverflow.com/questions/43761169/center-image-on-border-of-a-div  */}}
	<img
		src="/img/stjohn.png"
		class="absolute top-[-50px] left-1/2 max-w-[135px] sm:max-w-[150px] -translate-1/2 sm:top-[-35px]"
	/>

	<h1 class="mb-4 mt-1 sm:mt-0 text-2xl text-stone-800 font-bold tracking-wide">
		{{ .Title }}
	</h1>
	<div class="markdown">{{ .Content }}</div>
</article>


{{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }} {{ end }}
