{{ define "main" }} {{/* {{ $dateMachine := .Date | time.Format
"2006-01-02T15:04:05-07:00" }} {{ $dateHuman := .Date | time.Format ":date_long"
}} */}} {{/* <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time> */}}
<article class="mx-auto max-w-[90ch] border-2 border-avo-600 rounded-lg bg-stone-50 p-2 md:p-6">
	<h1 class="mb-4 text-2xl font-serif font-bold tracking-wide text-stone-800">
		{{ .Title }}
	</h1>
	<div class="markdown">{{ .Content }}</div>
</article>

{{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }} {{ end }}
