.markdown {
	@apply text-stone-900;

	h1 {
		@apply text-3xl font-bold;
	}

	h2 {
		@apply text-2xl font-bold;
	}

	h3 {
		@apply text-xl font-bold;
	}

	h4 {
		@apply text-lg font-bold;
	}

	h5 {
		@apply text-base font-bold;
	}

	h6 {
		@apply text-sm font-bold;
	}

	p + h2,
	p + h3,
	ul + h2,
	ul + h3,
	ol + h2,
	ol + h3 {
		@apply mt-6;
	}

	h2 + h3 {
		@apply mt-2;
	}

	p {
		@apply mt-2 text-base md:text-lg font-medium;
	}

	a {
		@apply text-avo-600 underline;
	}

	a:hover {
		@apply text-avo-800;
	}

	ul {
		@apply mt-2 list-disc pl-4;
	}

	ol {
		@apply mt-2 list-decimal pl-4;
	}

	li:not(:last-child) {
		@apply mb-2;
	}

	li {
		@apply text-base md:text-lg font-medium
	}

	blockquote {
		@apply mt-6 mb-8 border-l-2 border-stone-200 pl-3;
	}

	.highlight {
		@apply my-2;

		pre {
			@apply m-0 p-4 text-sm;

			code {
				@apply bg-none p-0;
			}
		}
	}

	pre:has(code) {
		@apply m-4 overflow-x-auto rounded-lg bg-stone-100 p-2;
	}

	pre {
		code {
			@apply bg-inherit font-mono text-sm;
		}
	}

	img {
		@apply md:max-w-4/5 w-auto h-auto max-h-[400px] mx-auto my-3 md:my-7 rounded-lg border-3 border-avo-600
	}

	code {
		@apply rounded-md bg-stone-200 px-1 text-green-800;
	}
}
